﻿@model List<Album>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <a asp-controller="Photo" asp-action="Index" asp-route-id="@item.ID">
                <img src="@item.PhotoLink" class="img-thumbnail" />
            </a>
            <h3>@item.Name</h3>
            <p>@item.Description</p>
        </div>
    }
</div>