﻿@model PhotoMV

<form asp-action="Create" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(x => x.AlbumId)

    <div class="form-group">
        <label asp-for="PhotoLink">Photo</label>
        <input class="form-control" type="file" asp-for="PhotoLink" accept="image/*" />
        <span class="text-danger" asp-validation-for="PhotoLink"></span>
    </div>
    <button class="btn btn-success" type="submit">Save</button>
</form>

