﻿@model Album

@{
    ViewData["Title"] = "Index";
}

<h2>@Model.Name</h2>
<p>@Model.Description</p>

<div class="row">
    @foreach (var item in Model.Photos)
    {
        <div class="col-md-4">
            <img src="@item.PhotoLink" class="img-thumbnail" />
        </div>
    }
</div>

<hr />

<div class="well">
    @Html.Partial("_Create", new PhotoMV { AlbumId = Model.ID })
</div>

