﻿@model AlbumVM

@{
    ViewData["Title"] = "Create";
}

<h2>New Album</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Nom </label>
        <input class="form-control" type="text" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input class="form-control" type="text" asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhotoLink">Photo</label>
        <input class="form-control" type="file" asp-for="PhotoLink" accept="image/*" />
        <span class="text-danger" asp-validation-for="PhotoLink"></span>
    </div>
    <button class="btn btn-success" type="submit">Save</button>
</form>

@*
    accept == propriete html qui va faire un sorte de telecharger que des images et aucun autre fichier.
*@