﻿@{
    ViewData["Title"] = "Mon Album";
}

<div class="row">
    <div class="col-md-12">
        <br />
        <div class="well well-sm text-right">
            <a asp-action="Create" class="btn btn-primary btn-lg"> New album</a>
        </div>
        <hr />
        @await Component.InvokeAsync("AlbumGalery")
    </div>
</div>
